body{
	margin-bottom: 10px;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 1px !important;
}

.hbod{
	z-index: -10000;
}

.first-row div{
	min-height: 400px;
	max-height: 400px;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;

	background: gray;
	overflow-y: hidden;
}

.sec-row div{
	min-height: 700px;
	max-height: 700px;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;



	border: 1px solid #e8e9ea;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;

	background: gray;
}

#home-tops{
	background-color: #014421;
	opacity:1;
	color:#f3aa2c;
	border-style: solid;
	border-width:10px;

	
}

#col{
  display: inline-block;
  vertical-align: top;
  width: 75%;
  background-color: #014421;
  color:#f3aa2c;
}

#no-gutter  {
    padding-right:0;
    padding-left:0;
    padding-top:0;
}

.py-0 form
{
	display: table;
	margin: auto;
}

.py-0 button
{
	display: table;
	margin: auto;
}

input[type = search]
{
	text-align: center;
	display: table;
	margin: auto;
	width: 200px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 20px;
	background-color: white;
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input[type = search]:focus
{	
	display: table;
	margin: auto;
	width: 1000px;
	text-align: left;
}
.py-0 select
{
	width: auto;
	display: table;
	margin: auto;
}


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


 /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #7b1113;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;width:auto;
    overflow-y: auto;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #7b1113;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s

}



/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
} 


